# Dependencies
node_modules/

# Build
dist/

data/*
!data/.gitkeep

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# IDE files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Misc
.DS_Store
package-lock.json